* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;

    padding: 0;
    margin: 0;
}

main {
    grid-area: conteudo;
}

header {
    grid-area: cabecalho;
}

footer {
    grid-area: rodape;
    background: #000;
}

nav {
    grid-area: navegacao;
}

body {
    display: grid;
    min-height: 100vh;

    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
        'cabecalho cabecalho'
        'navegacao conteudo'
        'rodape rodape'
    ;
}