* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: lightgray;
}

.cabecalho {
    background: #333;
    border-bottom: solid 5px #f50a31;
    height: 80px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cabecalho a {
    text-decoration: none;
    color: #eee;
    font-size: 1.3em;
    padding: 10px 15px;
}

.menu a:hover {
    border-radius: 10px;
    transition-property: all;
    transition-delay: 100ms;
    background-color: #f50a31;
    color: #000;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    flex-grow: 10;
}

.menu ul {
    display: flex;
    justify-content: space-around;

}

.menu li {
    margin: 0px 10px;
}

.texto {
    text-align: justify;
}

.bloco-noticia {
    margin-left: 20px;
}